* {
    box-sizing: border-box;
    margin: 0;
    padding:  0; 
  }
  h1{
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .column1 {
    float: left;
    height: 250px;
      width: 500px;
     
      background: rgb(198, 194, 194);
      margin-left:100px;
      margin-bottom: 20px;
      border: solid black 2px;
  
  }
  .column2 {
    float: left;
    height: 250px;
      width: 500px;
     
      background: rgb(198, 194, 194);
      margin-left:100px;
      margin-bottom: 20px;
      border: solid black 2px;
  
  }
  .column3 {
    float: left;
    height: 250px;
      width: 500px;
     
      background: rgb(198, 194, 194);
      margin-left:100px;
      margin-bottom: 20px;
      border: solid black 2px;
  
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
  }
  
  
  
  
  .C1{
     top: 35px;
      left: 35px;
    text-align: end;
    background: rgba(231, 231, 25, 0.5)
      ;
      border:rgb(0, 0, 0) 2px solid ;
      margin-left: 350px;
      padding: 4px 50px ;
      
  }
  
  .c2{
     top: 35px;
      left: 35px;
    text-align: end;
    background: rgba(32, 249, 242, 0.5)
      ;
      border:rgb(0, 0, 0) 2px solid ;
      margin-left: 350px;
      padding: 4px 50px ;
      
  }
  
  .c3{
     top: 35px;
      left: 35px;
    text-align: end;
    background: rgba(153, 50, 243, 0.5)
      ;
      border:rgb(0, 0, 0) 2px solid ;
      margin-left: 350px;
      padding: 4px 50px ;
      
  }
  #para{
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
    
  }
